/* color palete */
.silverBg {background-color:#bfbdc1;}
.silverFg {color:#bfbdc1;}

.dimGrayBg{background-color:#6d6a75;}
.dimGrayFg{color:#6d6a75;}

.onyxBg{background-color:#37323e;}
.onyxFg{color:#37323e;}

.pastelRedBg{background-color:#ff6666;}
.pastelRedFg{color:#ff6666;}

.satinSheenGoldBg{background-color:#de9e36;}
.satinSheenGoldFg{color:#de9e36;}

.whiteBg{background-color:#ffffff;}
.whiteFg{color:#ffffff;}

.blackBg{background-color:#000000;}
.blackFg{color:#000000;}
/*********************/

/* helper */
.col-center {
	margin:0 auto;
	float: none;
}

.f300 {font-weight:300 !important;}
.f400 {font-weight:400 !important;}
.f600 {font-weight:600 !important;}
.f700 {font-weight:700 !important;}

.fs12 {font-size:12px !important;}
.fs14 {font-size:14px !important;}
.fs16 {font-size:16px !important;}
.fs18 {font-size:18px !important;}
.fs21 {font-size:21px !important;}
.fs24 {font-size:24px !important;}

.bRad0 {border-radius:0 !important;}
.bRad1 {border-radius:1px !important;}
.bRad2 {border-radius:2px !important;}
.bRad3 {border-radius:3px !important;}

/*********************/

/* main style */
body {
	font-family: 'Titillium Web', sans-serif;
}

.authSection {
	margin-top: 20%;
	padding-top: 15px;
	padding-bottom: 15px;
	border-radius:3px;
	box-shadow:0 0 3px 0 rgba(0,0,0,0.6);
}

.btn-tab{
	border-radius:0 !important;
	background-color:#6d6a75;
	color:#bfbdc1;
	border:none;
	transition:all 0.4s ease-in-out;
}

.login-form .form-control:focus,
.register-form .form-control:focus {
	border-color: #ff6666;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px #0000001a, 0 0 8px #ff666699;
	box-shadow: inset 0 1px 1px #0000001a, 0 0 8px #ff666699;
}

.login-form .form-control::-webkit-input-placeholder,
.register-form .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size:14px;
}
.login-form .form-control::-moz-placeholder,
.register-form .form-control::-moz-placeholder { /* Firefox 19+ */
  font-size:14px;
}
.login-form .form-control:-ms-input-placeholder,
.register-form .form-control::-ms-input-placeholder { /* IE 10+ */
  font-size:14px;
}
.login-form .form-control:-moz-placeholder,
.register-form .form-control::-moz-placeholder { /* Firefox 18- */
  font-size:14px;
}

.btn-login,
.btn-register {
	border-radius:0;
	background-color:#ff6666;
	color:#ffffff;
	border:1px solid #ff6666;
	display:table;
	width:100%;
	transition:all 0.4s ease-in-out;
}

.btn-login:hover,
.btn-login:focus,
.btn-login:active,
.btn-register:hover,
.btn-register:focus,
.btn-register:active {
	outline:none;
	background-color: #ff6666;
	border:1px solid #EF4545;
	color:#ffffff;
	-webkit-box-shadow: inset 0 1px 1px #0000001a, 0 0 6px #ff666699;
	box-shadow: inset 0 1px 1px #0000001a, 0 0 6px #ff666699;
}

.forgot {
	text-align: right;
}

.forgot a:hover {
	color:#ff6666;
}

/*********************/



/* Over Rides */
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
	color: #fff;
	background-color: #ff6666;
}

.nav > li > a:hover,
.nav > li > a:focus {
	text-decoration: none;
	background-color: #6d6a75;
	color:#fff;
}

/*********************/